name: Tools21cm

on:
  workflow_dispatch:
    inputs:
      label:
        type: string
        default: "main"
        required: true
      dev:
        type: boolean
        required: false
        default: false
        
  workflow_call:
    inputs:
      label:
        type: string
        required: true
      dev:
        type: boolean
        required: false
        default: false

jobs:

  tools21cm:
    uses: ./.github/workflows/build_base.yml
    with:
      packageName: tools21cm
      packageVersion: $TOOLS_21CM_VERSION
      packageVersionName: TOOLS_21CM_VERSION
      label: ${{ inputs.label }}
      dev: ${{ inputs.dev }}
      pythonCall: import tools21cm
    secrets: inherit