name: SeqFile

on:
  workflow_dispatch:
    inputs:
      label:
        type: string
        default: "main"
        required: true
      dev:
        type: boolean
        required: false
        default: false
      buildNumber:
        type: string
        required: true
        
  workflow_call:
    inputs:
      label:
        type: string
        required: true
      dev:
        type: boolean
        required: false
        default: false
      buildNumber:
        type: string
        required: true

jobs:

  SeqFile:
    uses: ./.github/workflows/build_base.yml
    with:
      packageName: seqfile
      packageVersion: $SEQFILE_VERSION
      packageVersionName: SEQFILE_VERSION
      label: ${{ inputs.label }}
      dev: ${{ inputs.dev }}
      buildNumber: ${{ inputs.buildNumber }}
      pythonCall: import seqfile
    secrets: inherit
