name: SKA SDP Datamodel

on:
  workflow_dispatch:
    inputs:
      label:
        type: string
        default: "main"
        required: true
      dev:
        type: boolean
        required: false
        default: false
        
  workflow_call:
    inputs:
      label:
        type: string
        required: true
      dev:
        type: boolean
        required: false
        default: false

jobs:

  SKA_SDP_Datamodel:
    uses: ./.github/workflows/build_base.yml
    with:
      packageName: ska-sdp-datamodels
      packageVersion: $SKA_SDP_DTMDL_VERSION
      packageVersionName: SKA_SDP_DTMDL_VERSION
      pythonCall: from ska_sdp_datamodels import *
      label: ${{ inputs.label }}
      dev: ${{ inputs.dev }}
    secrets: inherit
