name: WSClean

on:
  workflow_dispatch:
    inputs:
      label:
        type: string
        default: "main"
        required: true
      dev:
        type: boolean
        required: false
        default: false
      devDeps: # I have added this part to reference to the dev lable for everybeam
        type: string
        required: false
        default: "EVERYNEAM_VERSION" 
      buildNumber:
        type: string
        required: true
        
  workflow_call:
    inputs:
      label:
        type: string
        required: true
      dev:
        type: boolean
        required: false
        default: false
      devDeps:
        type: string
        required: false
        default: "EVERYNEAM_VERSION"
      buildNumber:
        type: string
        required: true

jobs:
  WSClean:
    uses: ./.github/workflows/build_base.yml
    with:
      packageName: wsclean
      packageVersion: $WSCLEAN_VERSION
      packageVersionName: WSCLEAN_VERSION
      label: ${{ inputs.label }}
      dev: ${{ inputs.dev }}
      buildNumber: ${{ inputs.buildNumber }}
      useCuda: false
      isNative: true
    secrets: inherit
